
{% extends "layout.html.twig" %}

{% block content %}


<body>
  <header class=" ">
    <img src=" " alt=" " />
    <div class="text">
      <h1>The league</h1>
      <nav>
        <ul>
          <li><a href="">Les teams</a></li>
          <li><a href="">Les players</a></li>
          <li><a href="">Les matchs</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
      <h2>Les teams de la league</h2>
      <ul>
        <li>
      <article>
          <img src="./assets/img/angry-owls.png" alt="logo team angry owls"/>
          <h3>Angry owls</h3>
          <p>A team of angry owls</p>
          <button>Découvrez angry owls</button>
      </article>
      </li>
      <li>
       <article>
          <img src="./assets/img/chatty-parrots.png " alt="logo team chatty parrots"/>
          <h3>Chatty parrots</h3>
          <p>A team of chatty parrots</p>
          <button>Découvrez chatty parrots</button>
      </article>
      </li>
      <li>
       <article>
          <img src=" ./assets/img/panthers.png" alt="logo team panthers"/>
          <h3>Panthers</h3>
          <p>A team of panthers</p>
          <button>Découvrez panthers</button>
      </article>
      </li>
      <li>
       <article>
          <img src=" ./assets/img/sparrow.png" alt="logo team sparrow"/>
          <h3>Sparrow</h3>
          <p>The spies from the east</p>
          <button>Découvrez sparrow</button>
      </article>
      </li>
      <li>
       <article>
          <img src="./assets/img/vendetta.png " alt="logo team vendetta"/>
          <h3>Vendetta</h3>
          <p>A knack for revenge</p>
          <button>Découvrez vendetta</button>
      </article>
      </li>
      </ul>
  </main>
  <footer>
      
  </footer>
</body> 

  

{% endblock %}